.header {
  background-color: #2b2b2b;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-around;
  padding: 1.5rem 0;
}
.header img {
  filter: invert(100%);
}
h1 {
  color: whitesmoke;
}
